name: Test Compilazione # Action name
on:
  push:
    branches:
      - 'main'
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Download file della Repo
        uses: actions/checkout@v6.0.1
      - name: Compilazione del file della Relazione
        uses: xu-cheng/latex-action@v4
        with: # insert here files to compile
          working_directory: Report
          root_file: Pomodoro_Musei_di_Pesaro_Report.tex
      - name: Ridenominazione files
        run: mv Report/Pomodoro_Musei_di_Pesaro_Report.pdf Report/Relazione_Pomodoro_Musei_di_Pesaro.pdf
      - name: Caricamento della Release temporanea
        uses: actions/upload-artifact@v5
        with: 
          name: Relazione
          path: Report/Relazione_Pomodoro_Musei_di_Pesaro.pdf

      
     
      
